@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,400;0,500;0,600;1,300;1,400;1,500;1,600&display=swap");
:root {
  --main-color: #dd2f6e;
  --color-dark: #1d2231;
  --text-grey: #8390a2;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  list-style-type: none;
  text-decoration: none;
  font-family: "Poppins", sans-serif;
}

.sidebar {
  width: 300px;
  position: fixed;
  left: 0;
  top: 0;
  height: 100%;
  background: var(--main-color);
  z-index: 100;
  transition: width 300ms;
}
.sidebar-brand {
  height: 90px;
  padding-top: 1.5rem;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-bottom: 2.5rem;
}

.sidebar-brand span {
  display: inline-block;
  padding-right: 1rem;
}
.sidebar-menu {
  margin-top: 1rem;
}
.sidebar-menu li {
  width: 100%;
  margin-bottom: 1.7rem;
  padding-left: 2rem;
}

.sidebar-menu a {
  padding-left: 1rem;
  display: block;
  color: #fff;
  font-size: 1.1rem;
}

.sidebar-menu a.active {
  background: #fff;
  padding-top: 1rem;
  padding-bottom: 1rem;
  color: var(--main-color);
  border-radius: 30px 0px 0px 30px;
}

.sidebar-menu a span:first-child {
  font-size: 1.5rem;
  padding-right: 0;
}
#nav-toggle:checked + .sidebar {
  width: 80px;
}
#nav-toggle:checked + .sidebar .sidebar-brand h2 span:first-child {
  padding-left: 1rem;
}
#nav-toggle:checked + .sidebar .sidebar-brand,
#nav-toggle:checked + .sidebar li {
  padding-left: 1rem;
  text-align: center;
}
#nav-toggle:checked + .sidebar li a {
  padding-left: 0px;
}

#nav-toggle:checked + .sidebar .sidebar-brand h2 span:last-child,
#nav-toggle:checked + .sidebar li a span:last-child {
  display: none;
}

#nav-toggle:checked ~ .main-content {
  margin-left: 80px;
}
.main-content {
  transition: margin-left 300ms;
  margin-left: 300px;
}

#nav-toggle:checked ~ .main-content header {
  width: calc(100% - 80px);
  left: 80px;
  right: 0px;
}
header {
  display: flex;
  justify-content: space-between;
  padding: 1rem 0.5rem;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
  position: fixed;
  left: 300px;
  top: 0;
  width: calc(100% - 300px);
  z-index: 100;
  overflow: hidden;
  background: #ffff;
  transition: left 300ms;
}
#nav-toggle {
  display: none;
}

header h2 {
  color: #222;
}

header label span {
  font-size: 1.7rem;
  padding-right: 1rem;
}
.search-wrapper {
  border: 1px solid #ccc;
  border-radius: 30px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.search-wrapper span {
  display: inline-block;
  padding: 0rem 1rem;
  font-size: 1.6rem;
}
.search-wrapper input {
  height: 100%;
  padding: 0.5rem;
  border: none;
  outline: none;
}

.user-wrapper {
  display: flex;
  align-items: center;
}
.user-wrapper img {
  border-radius: 50%;
  margin-right: 1rem;
  width: 40px;
  height: 40px;
}
.user-wrapper small {
  display: inline-block;
  color: var(--text-grey);
  margin-top: -10px !important;
}

main {
  margin-top: 85px;
  padding: 1rem 1.5rem;
  background: #f1f5f9;
  min-height: calc(100vh - 90px);
}

.cards {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 2rem;
}
.card-single {
  display: flex;
  justify-content: space-between;
  background: #ffff;
  padding: 2rem;
  border-radius: 5px;
  box-shadow: 2px 2px 2px rgba(0,0,0,0.2);
  transition: transform .2s;
}

.card-single:hover{
  transform: scale(1.005);
  box-shadow: 2px 2px 2px rgba(0,0,0,0.5);
}

.card-single div:last-child span {
  font-size: 3rem;
  color: var(--main-color);
}

.card-single div:first-child span {
  color: var(--text-grey);
}

.card-single:last-child {
  background: var(--main-color);
}
.card-single:last-child h1,
.card-single:last-child div:first-child span,
.card-single:last-child div:last-child span {
  color: #fff;
}
.recent-grid {
  margin-top: 1rem;
  display: grid;
  grid-template-columns: 66% auto;
  grid-gap: 1rem;
}
.card {
  background: #fff;
  padding: 1rem;
  border-radius: 5px;
  transition: transform .2s;
  box-shadow: 2px 2px 2px rgba(0,0,0,0.2);
}
.card:hover{
  box-shadow: 2px 2px 2px rgba(0,0,0,0.5);
  transform: scale(1.005);
}
.card-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 1rem;
  padding-left: 0.5rem;
}
.customers .card .card-header {
  border-left: 5px solid rgb(16, 224, 16);
}
.projects .card .card-header {
  border-left: 5px solid rgb(49, 162, 238);
}

.card-header button {
  border-radius: 5px;
  font-size: 0.8rem;
  padding: 0.5rem 1rem;
  border: 1px solid var(--main-color);
  outline: none;
  cursor: pointer;
  background-color: #ffffff;
  color: var(--main-color);
}
.card-header button:hover{
  background-color: var(--main-color);
  color: #fff;
}

table {
  border-collapse: collapse;
  width: 100%;
}

thead tr {
  border-top: 1px solid #f0f0f0;
  border-bottom: 1px solid #f0f0f0;
  padding: 0.5rem;
}
thead td {
  font-weight: 700;
}
td {
  padding: 0.5rem 1rem;
  font-size: 0.9rem;
}
td .status {
  display: inline-block;
  height: 20px;
  width: 20px;
  border-radius: 50%;
  margin-right: 0.5rem;
}
tr td:last-child {
  display: flex;
  align-items: center;
}
.status.reviewing {
  background: yellow;
}
.status.progressing {
  background: blue;
}
.status.starting {
  background: green;
}

.table-responsive {
  width: 100%;
  overflow: auto;
}
.customer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid lightgray;
}
.customer:last-child {
  border: none;
}
.info {
  display: flex;
  align-items: center;
  justify-content: center;
}
.info img {
  border-radius: 50%;
  width: 40px;
  height: 40px;
  margin: 0.5rem;
}

.info h4 {
  font-size: 0.9rem;
  font-weight: 700;
  color: #222;
}
.info small {
  font-weight: 500;
  color: var(--text-grey);
}
.contact span {
  color: var(--main-color);
  font-size: 1.2rem;
  display: inline-block;
  margin-left: 0.5rem;
}

header h2 label span.menu-icon{
  cursor: pointer;
}

@media only screen and (max-width: 1200px) {
  .sidebar {
    width: 80px;
  }
  .sidebar .sidebar-brand h2 span:first-child {
    padding-left: 1rem;
  }
  .sidebar .sidebar-brand,
  .sidebar li {
    padding-left: 1rem;
    text-align: center;
  }
  .sidebar li a {
    padding-left: 0px;
  }

  .sidebar .sidebar-brand h2 span:last-child,
  .sidebar li a span:last-child {
    display: none;
  }
  .main-content {
    margin-left: 80px;
  }
  .main-content header {
    width: calc(100% - 80px);
    left: 80px;
  }
}

@media only screen and (max-width: 960px) {
  .cards{
    grid-template-columns: repeat(3,1fr);
  }
  .recent-grid{
    grid-template-columns: 55% 45%;
  }
}
@media only screen and (max-width: 768px) {
  .cards{
    grid-template-columns: repeat(2,1fr);
  }
  .recent-grid{
    grid-template-columns: 100%;
  }
  .search-wrapper{
    display: none;
  }
  .sidebar{
    left: -100% !important;
  }

  header h2 {
    display: flex;
    font-size: 1rem;
  }
  header h2 label{
    text-align: center;
    background-color: var(--main-color);
    padding-right: 0;
    margin-right: 1rem;
    height: 40px;
    width: 40px;
    border-radius: 50%;
    display: flex;
    color: #ffffff;
    justify-content: center;
    align-items: center;
    cursor: pointer;
  }

  header h2 span{
    text-align: center;
    padding-right: 0;
    align-items: center;
    justify-content: center;
    padding-right: 0;
    font-size: 1.5rem;
  }

  .main-content{
    width: 100% !important;
    margin-left: 0!important;
  }
  header{
    width: 100% !important;
    left: 0 !important;
  }

  #nav-toggle:checked +.sidebar{
    left: 0!important;
    z-index: 100;
    width: 300px;
  }

  #nav-toggle:checked + .sidebar,
  #nav-toggle:checked + .sidebar li {
    padding-left: 2rem;
    text-align: left;
  }
  #nav-toggle:checked + .sidebar li a {
    padding-left: 1rem;
  }

  #nav-toggle:checked + .sidebar h2 span:last-child,
  #nav-toggle:checked + .sidebar li a span:last-child {
    display: inline;
  }
}

@media only screen and (max-width: 560px) {
  .cards{
    grid-template-columns: repeat(1,1fr);
  }
  .recent-grid{
    grid-template-columns: 100%;
  }
  .user-wrapper .profile-info{
    display: none;
  }
}
